body, h1, h2, h3, p, form, ul, dl, dd, dt {
  margin: 0;
  padding: 0; }

body {
  background: #fff;
  font-size: 12px; }

ul, ol {
  list-style: none; }

input, textarea {
  outline: none; }

#top {
  background: #3b6ea5; }
  #top h1 {
    width: 150px;
    height: 80px;
    font-size: 12px;
    background: #ccc;
    text-indent: -9999px;
    float: left; }
  #top ul {
    padding: 47px 0 0 10px;
    float: left; }
    #top ul li {
      float: left;
      padding-left: 5px; }
      #top ul li a {
        display: block;
        width: 58px;
        height: 33px;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        text-align: center;
        line-height: 33px;
        text-decoration: none;
        background: #4c7fb6; }
        #top ul li a.selected {
          background: #eee;
          color: #3b6ea5; }
  #top p {
    float: right;
    padding: 33px 20px 0 0;
    color: #fff; }
    #top p a {
      text-decoration: none;
      color: #fff; }
      #top p a:hover {
        text-decoration: underline; }

#sidebar {
  height: 2000px;
  background: #f7fbfc;
  border-right: 1px solid #3b6ea5; }
  #sidebar dl {
    padding: 20px;
    text-indent: 2px; }
    #sidebar dl dt {
      font-size: 14px;
      color: #3b6ea5;
      font-weight: bold;
      border-bottom: 1px solid #ccc;
      padding: 5px 0;
      margin: 5px 0; }
    #sidebar dl dd {
      height: 22px;
      line-height: 22px; }
      #sidebar dl dd a {
        color: #333;
        text-decoration: none; }
        #sidebar dl dd a:hover {
          text-decoration: underline; }

#main {
  background: #fff; }
  #main p.center {
    text-align: center;
    padding: 20px; }
  #main div.map {
    padding: 15px;
    color: #333; }
    #main div.map strong {
      color: green;
      font-weight: 600; }
  #main a {
    text-decoration: none;
    color: #3b6ea5; }
    #main a:hover {
      text-decoration: underline; }
  #main table {
    width: 95%;
    text-align: center;
    margin: 0 auto; }
    #main table.left {
      text-align: left; }
    #main table tr {
      background: #fff; }
      #main table tr:hover {
        background: #ffc; }
    #main table th, #main table td {
      height: 30px;
      line-height: 30px;
      color: #333; }
    #main table th {
      background: #eef3f7;
      border-bottom: 1px solid #d5dfe8;
      font-weight: 300; }
    #main table td {
      border-bottom: 1px solid #eee; }
  #main form select {
    width: 100px;
    height: 19px;
    background: #fff; }
  #main form textarea {
    font-size: 13px;
    width: 220px;
    height: 100px;
    background: #fff;
    border: 1px solid #ccc;
    margin-left: 60px; }
  #main form input.text {
    width: 220px;
    height: 19px;
    background: #fff;
    border: 1px solid #ccc; }
  #main form input.submit {
    cursor: pointer;
    margin-left: 60px; }
  #main ol {
    padding: 0 0 0 26px;
    height: 35px; }
    #main ol li {
      float: left;
      padding-right: 10px; }
      #main ol li a {
        display: block;
        padding: 6px; }
        #main ol li a:hover {
          background: #eee; }
      #main ol li a.selected {
        background: #3b6ea5;
        color: #fff; }
