body, h1, h2, h3, p, form, ul, dl, dd, dt {
	margin: 0;
	padding: 0;
}
body{
	background:#fff;
	font-size:12px;
}
ul,ol{
	list-style:none;
}
input,textarea{
	outline:none;
}
#top{
	background:#3b6ea5;
	h1{
		width:150px;
		height: 80px;
		font-size:12px;
		background:#ccc;
		text-indent: -9999px;
		float: left;
	}
	ul{
		padding:47px 0 0 10px;
		float: left;
		li{
			float: left;
			padding-left:5px;
			a{
				display: block;
				width: 58px;
				height: 33px;
				font-size: 14px;
				font-weight: 600;
				color: #fff;
				text-align: center;
				line-height: 33px;
				text-decoration: none;
				background:#4c7fb6;
				&.selected{
					background:#eee;
					color: #3b6ea5;
				}
			}
		}
	}
	p{
		float:right;
		padding:33px 20px 0 0;
		color:#fff;
		a{
			text-decoration: none;
			color: #fff;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
#sidebar{
	height:2000px;
	background:#f7fbfc;
	border-right:1px solid #3b6ea5;
	dl{
		padding:20px;
		text-indent: 2px;
		dt{
			font-size: 14px;
			color: #3b6ea5;
			font-weight: bold;
			border-bottom:1px solid #ccc;
			padding:5px 0;
			margin: 5px 0;
		}
		dd{
			height: 22px;
			line-height: 22px;
			a{
				color: #333;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
#main{
	background:#fff;
	p.center{
		text-align: center;
		padding:20px;

	}
	div.map{
		padding:15px;
		color: #333;
		strong{
			color:green;
			font-weight: 600;
		}
	}
	a{
		text-decoration: none;
		color: #3b6ea5;
		&:hover{
			text-decoration: underline;
		}
	}
	table{
		width: 95%;
		text-align:center;
		margin: 0 auto;
		&.left{
			text-align: left;
		}
		tr{
			background:#fff;
			&:hover{
				background:#ffc;
			}
		}
		th,td{
			height: 30px;
			line-height: 30px;
			color: #333;
		} 
		th{
			background:#eef3f7;
			border-bottom:1px solid #d5dfe8;
			font-weight: 300;
		}
		td{
			border-bottom:1px solid #eee;
		}
	}
	form{
		select{
			width: 100px;
			height: 19px;
			background:#fff;
		}
		textarea{
			font-size: 13px;
			width: 220px;
			height: 100px;
			background:#fff;
			border:1px solid #ccc;
			margin-left:60px;
		}
		input.text{
			width: 220px;
			height: 19px;
			background:#fff;
			border:1px solid #ccc;
		}
		input.submit{
			cursor: pointer;
			margin-left: 60px;
		}
	}
	ol{
		padding:0 0 0 26px;
		height: 35px;
		li{
			float: left;
			padding-right:10px;
			a{
				display: block;
				padding:6px;
				&:hover{
					background:#eee;
				}
			}
			a.selected{
				background:#3b6ea5;
				color: #fff;
			}
		}
	}
}