#user {
	width: 268px;
	height: 398px;
	float: right;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	form {
		position: relative;
		label {
			display: block;
			padding: 8px 0 5px 12px;
			input.text {
				width: 175px;
				height: 20px;
				border: 1px solid #666;
				background: #eee;
				outline: none;
				padding-left: 5px;
			}
			input.code {
				width: 100px;
			}
		}
		img {
			position: absolute;
			top: 82px;
			left: 170px;
			width: 70px;
			height: 24px;
		}
		p {
			text-align: center;
			input.submit {
				width: 45px;
				height: 20px;
				line-height: 20px;
				font-size: 12px;
				cursor: pointer;
			}
			a {
				color: green;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	h3 {
		font-size: 12px;
		padding: 8px 10px;
		hr {
			display: inline-block;
			width: 170px;
			vertical-align: bottom;
			margin-left: 3px;
			border: none;
			border-top: 1px solid #ccc;
		}
	}
	dl {
		width: 72px;
		float: left;
		margin-left: 12px;
		margin-bottom: 10px;
		dd {
			text-align: center;
		}
		dt img {
			width: 75px;
			height: 75px;
			vertical-align: top;
		}
	}
}
#news {
	width: 378px;
	height: 398px;
	border: 1px solid #ccc;
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 0 10px;
	h3 {
		text-align: center;
		padding: 10px;
		font-size: 16px;
		a {
			color: #333;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	p {
		line-height: 150%;
		a {
			color: #333;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		&.link {
			padding: 5px 0;
			border-bottom: 1px dashed #999;
			a {
				padding-bottom: 5px;
				display: inline-block;
			}
		}
		&.link, &.link a {
			color: green;
		}
	}
	ul {
		padding: 5px 2px 0;
		li {
			height: 24px;
			line-height: 24px;
			em {
				float: right;
				font-style: none;
				font-family: Tahoma;
			}
			a {
				color: #666;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
#pic {
	width: 268px;
	height: 193px;
	float: left;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	img {
		width: 270px;
		height: 195px;
		vertical-align: bottom;
	}
}
#rec {
	width: 268px;
	height: 193px;
	float: left;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	ul {
		padding: 2px 10px 0;
		li {
			height: 23px;
			line-height: 23px;
			em {
				float: right;
				font-style: none;
				font-family: Tahoma;
			}
			a {
				color: #666;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
#sidebar-right {
	width: 270px;
	height: 835px;
	float: right;
	margin-bottom: 10px;
	div.adver {
		width: 270px;
		height: 200px;
		margin-bottom: 10px;
		img {
			width: 100%;
			height: 100%;
			vertical-align: top;
		}
	}
	div.hot, div.comm, div.vote {
		border: 1px solid #ccc;
		height: 200px;
		margin-bottom: 10px;
	}
	div.vote {
		margin: 0;
		h3 {
			padding: 10px;
			text-align: center;
			font-size: 14px;
			color: #369;
			border-bottom: 1px dashed #ccc;
			width: 80%;
			margin: 5px auto;
		}
		form label {
			display: block;
			padding: 2px 0 2px 20px;
			input {
				vertical-align: bottom;
			}
		}
		form p {
			text-align: center;
			padding: 5px;
			input {
				width: 45px;
				height: 22px;
				margin: 0 5px;
				cursor: pointer;
				font-size: 12px;
			}
		}
	}
	ul {
		padding: 3px 10px 0;
		li {
			height: 24px;
			line-height: 24px;
			em {
				float: right;
				font-style: none;
				font-family: Tahoma;
			}
			a {
				color: #666;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
#picnews {
	width: 678px;
	height: 198px;
	float: left;
	margin-bottom: 10px;
	border:1px solid #ccc;
	dl{
		width: 156px;
		float: left;
		padding: 10px 0 0 11px;
		dt{
			border:1px solid #999;
			padding:2px;
			img{
				border:none;
				vertical-align: top;
				width: 150px;
				height: 110px;
			}
		}
		dd{
			padding:5px;
			text-align: center;
			a{
				color: #666;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
#newslist {
	width: 680px;
	height: 625px;
	float: left;
	margin-bottom: 10px;
	div.list {
		border: 1px solid #ccc;
		height: 306px;
		width: 49%;
		float: left;
		h2{
			a{
				float: right;
				padding-right:10px;
				color: green;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		ul {
			padding: 8px 10px 0;
			li {
				height: 24px;
				line-height: 24px;
				em {
					float: right;
					font-style: none;
					font-family: Tahoma;
				}
				a {
					color: #666;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
	div.right {
		float: right;
	}
	div.bottom {
		margin-bottom: 10px;
	}
}

